@import 'fonts/font_fontawesome';
@import 'import/mixin';
@import 'import/variables';

/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 * @package Admiral
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.zeeflex-container a:hover,
.zeeflex-slider a:hover,
.zeeflex-container a:focus,
.zeeflex-slider a:focus {
  outline: none;
}
.zeeslides,
.zeeslides > li,
.zeeflex-control-nav,
.zeeflex-direction-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}
.zeeflex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.zeeflexslider {
  margin: 0;
  padding: 0;
}
.zeeflexslider .zeeslides > li {
  display: none;

  -webkit-backface-visibility: hidden;
}
.zeeflexslider .zeeslides img {
  display: block;

  width: 100%;
}
.zeeflexslider .zeeslides:after {
  line-height: 0;

  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: '\0020';
}
html[xmlns] .zeeflexslider .zeeslides {
  display: block;
}
* html .zeeflexslider .zeeslides {
  height: 1%;
}
.no-js .zeeflexslider .zeeslides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * Admiral Slider Theme
 * ====================================================================================================================*/

.post-slider-container {
  overflow: hidden;
}

.post-slider-wrap {
  position: relative;
}

.post-slider,
.zeeflexslider .zeeslides {
  zoom: 1;
}

.post-slider .zeeslide {
  position: relative;
}

.zeeflex-viewport {
  max-height: 2000px;
}

.post-slider .zeeslide .slide-image {
  width: 100%;
  max-width: 710px;
  height: auto;
  max-height: 530px;
  margin: 0;

  vertical-align: top;
}

.post-slider .zeeslide .slide-content {
  padding: 1em 0 2em;

  border-bottom: 2px solid #eeeeee;
  background: #ffffff;
}

.post-slider-controls {
  clear: left;
}

/* Direction Nav */
.post-slider-controls .zeeflex-direction-nav {
  position: absolute;
  top: 1.5em;
  right: 1.5em;

  *height: 0;
}

.post-slider-controls .zeeflex-direction-nav a {
  font-size: 0;

  position: absolute;
  z-index: 10;

  display: block;

  width: 40px;
  height: 40px;
  margin: 0 0 0 -80px;

  cursor: pointer;
  text-align: left;
  text-decoration: none;

  color: #303030;
  background: #ffffff;
}

.post-slider-controls .zeeflex-direction-nav a:hover {
  text-decoration: none;

  background: #ee4444;
}

.post-slider-controls .zeeflex-direction-nav a:before {
  font: normal 28px/1 Genericons;

  display: inline-block;

  vertical-align: text-bottom;
  text-decoration: inherit;

  color: #303030;

  -webkit-font-smoothing: antialiased;
}

.post-slider-controls .zeeflex-direction-nav a:hover:before {
  color: #ffffff;
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-next:before {
  margin: .25em;

  content: '\f431';
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-prev:before {
  margin: .3em;

  content: '\f431';
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
  left: 42px;
}

/* Control Nav */
.post-slider-controls .zeeflex-control-nav {
  position: absolute;
  z-index: 99;
  top: 1.5em;
  left: 1.5em;
}

.post-slider-controls .zeeflex-control-nav li {
  display: inline-block;
  zoom: 1;

  margin: 0 2px;

  *display: inline;
}

.post-slider-controls .zeeflex-control-nav li a {
  display: block;

  width: 25px;
  height: 10px;

  cursor: pointer;
  text-indent: -9999px;

  background: rgba(255,255,255,.5);
}

.post-slider-controls .zeeflex-control-nav li a:hover {
  background: rgba(255,255,255,.7);
}

.post-slider-controls .zeeflex-control-nav li a.zeeflex-active {
  cursor: default;

  background: rgba(255,255,255,.9);
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (max-width: 30em) {
  .post-slider-controls .zeeflex-control-nav {
    display: none;
  }
}
/*
 * Infinite Scroll CSS
 *
 * @package ThemeZee Toolkit
 */

/* =Infinity Styles
-------------------------------------------------------------- */

.infinite-loader {
  display: block;

  height: 28px;

  text-indent: -9999px;

  color: #000000;
}
#infinite-handle span {
  font-size: 13px;

  padding: 6px 16px;

  cursor: pointer;

  color: #eeeeee;
  border-radius: 1px;
  background: #333333;
}

/**
 * Using a highly-specific rule to make sure that all button styles
 * will be reset
 */
#infinite-handle span button,
#infinite-handle span button:hover,
#infinite-handle span button:focus {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  position: static;

  display: inline;

  margin: 0;
  padding: 0;

  cursor: inherit;

  color: inherit;
  border: none;
  background: transparent;
}

/**
 * This is used to avoid unnecessary inner button spacing in Firefox
 */
#infinite-handle span button::-moz-focus-inner {
  margin: 0;
  padding: 0;

  border: none;
}

/**
 * For smaller viewports, remove the down-arrow icon and turn
 * the button into a block element, spanning the content's full width.
 */
@media (max-width: 800px) {
  #infinite-handle span:before {
    display: none;
  }
  #infinite-handle span {
    display: block;
  }
}

/**
 * Footer
 */
#infinite-footer {
  position: fixed;
  bottom: -50px;
  left: 0;

  width: 100%;
}
#infinite-footer a {
  text-decoration: none;
}
#infinite-footer .blog-info a:hover,
#infinite-footer .blog-credits a:hover {
  text-decoration: underline;

  color: #444444;
}
#infinite-footer .container {
  overflow: hidden;

  box-sizing: border-box;
  width: 780px;
  margin: 0 auto;
  padding: 1px 20px;

  border-width: 1px 0 0;
  border-style: solid;
  border-color: #cccccc;
  border-color: rgba( 0, 0, 0, .1 );
  background: rgba( 255, 255, 255, .8 );
}
#infinite-footer .blog-info,
#infinite-footer .blog-credits {
  line-height: 25px;

  box-sizing: border-box;
}
#infinite-footer .blog-info {
  float: left;
  overflow: hidden;

  width: 40%;

  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#infinite-footer .blog-credits {
  font-weight: normal;

  float: right;

  width: 60%;
}
#infinite-footer .blog-info a {
  font-size: 14px;
  font-weight: bold;

  color: #111111;
}
#infinite-footer .blog-credits {
  font-size: 12px;

  text-align: right;

  color: #888888;
}
#infinite-footer .blog-credits a {
  color: #666666;
}

/**
 * Hooks to infinity-end body class to restore footer
 */
.infinity-end.neverending #infinite-footer {
  display: none;
}

/**
 * Responsive structure for the footer
 */
@media (max-width: 640px) {
  #infinite-footer .container {
    box-sizing: border-box;
    width: 100%;
  }
  #infinite-footer .blog-info {
    width: 30%;
  }
  #infinite-footer .blog-credits {
    width: 70%;
  }
  #infinite-footer .blog-info a,
  #infinite-footer .blog-credits {
    font-size: 10px;
  }
}

/**
 * No fixed footer on small viewports
 */
@media ( max-width: 640px ) {
  #infinite-footer {
    position: static;
  }
}
body.custom-background {
  background-color: #ffffff;
}
/* new styles */
body {
  background-color: #ffffff;
}
.social-icons-menu li a:before {
  display: none;
}
.header-bar .social-icons-menu li a {
  font-size: 22px;

  color: #ffffff;
}

.header-main {
  padding: 15px 2em;
  a {
    display: flex;
    flex-direction: row;

    width: 100%;

    text-decoration: none;

    color: #000000;

    align-content: stretch;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    img {
      width: 20%;
    }
    h1 {
      font-size: 6em;

      width: 80%;
      margin: 0;

      text-align: center;

      @include text3d(#0982c1);
    }
  }
}
.main-navigation-menu li.current-menu-item > a {
  text-decoration: none;
}
.main-navigation-menu {
  li {
    a {
      font-size: 1rem;

      padding: 1.5em;

      text-shadow: $base-text-shadow;
    }
    &.current-menu-item {
      a {
        background: rgba(0,0,0,.2);
      }
    }
  }
}

.social-icons-menu li {
  &:hover {
    i {
      color: $yellow;
    }
  }
}
.blog-title,
.page-title,
.sidebar-title,
.archive-title {
  padding: 1.5em 1em;

  text-shadow: $base-text-shadow;
}
.blog-header,
.archive-header,
.page-header,
.sidebar-header {
  padding: 0;
}

.post-layout-two-columns .post-wrapper .post-column {
  box-sizing: border-box;
  width: 50%;
  padding-right: 2em;
  a {
    color: $blue;
  }
}
.entry-content {
  p {
    line-height: 1.4;
  }
  a {
    color: $blue;
  }
  ul,
  ol {
    padding-left: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}
.widget {
  font-size: 18px;
  line-height: 1.4;

  margin-bottom: 20px;
  padding: 0 1.5em;
  h6 {
    font-size: 26px;

    margin: 0 0 20px;
  }
  ol,
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 8px;
      a {
        color: #000000;
      }
    }
  }
  &.widget_search {
    height: 45px;
    padding: 0 1.5em;
    form {
      position: relative;

      width: 100%;
      height: 100%;
      .search-input {
        width: 91%;
        height: 77%;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
@media only screen and (max-width: 80em) {
  .main-sidebar-toggle,
  .small-sidebar-toggle {
    padding: 1.35rem 1.6rem;
  }
  .blog-title,
  .page-title,
  .sidebar-title,
  .archive-title {
    text-align: center;
  }
}

@media (max-width: 790px) {
  .header-main a h1 {
    font-size: 4em;
  }
}
@media (max-width: 640px) {
  .header-main a h1 {
    font-size: 2em !important;
  }
  .post-layout-two-columns .post-wrapper .post-column {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  .header-main a {
    flex-wrap: wrap !important;
    h1,
    img {
      width: 100% !important;
    }
  }
  .main-sidebar-toggle,
  .small-sidebar-toggle {
    display: none;
  }
}
