
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=74d69d721b393fc541883e64b30c0c81
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress